:root{
  --light-blue : #8296ad;
  --light-blue-shadow:  rgb(59,71,89);
  --sea-green: #cdbf70;
  --sea-green-dark: #a69966;
  --sea-green-extra-dark: #6d5d38;
  --sea-green-shadow: rgba(89,75,48,255);
  --header-hamburger-background : rgba(11, 190, 173,0.8);
  --orange:#533524;
  --dark-orange: #261412;
  --orange-shadow: rgb(38,22,21);
  --white: #ffffff;
  --black: #333333;
  --disabled-btn: #09bead7a;
  --error-message:  #e44f4fd1;
  --toast-error: #e44f4ffa;
  --toast-shadow:  #9c9c9ce3;
  --toast-success: #0CBFAE;
  --loader-color: #0CBFAE
}